 .form1{
    background-image: url('https://images.pexels.com/photos/159832/justice-law-case-hearing-159832.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.preserve-linebreaks {
    white-space: pre-wrap;
}